.screen--navigation {
    background-color: #fff;
}

.screen--navigation--list {
    display: flex;
    justify-content: space-between;
}

.screen--navigation--item {

}

.screen--navigation--item-left {
    padding: 20px;
}

.screen--navigation--item-center {
    padding: 20px;
}

.screen--navigation--item-right {
    padding: 20px;
}