/* .container--home{
    background-image: url(/assets/map/map.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% -1%;
    max-width: calc(100% - 1em);
    height: 500vh;
    margin-right: 0 !important;
} */

.background{
    position: absolute;
    z-index: 0;
    top: 6%;
    left: -30%;
    overflow-x: hidden;
}

.background img{
    width: 120%;
}

.logo{
    background-image: url(/assets/logo/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 50px;
    width: auto;
}

.logo p{
    visibility: hidden;
}

.map{
    position: relative;
}

.map-element{
    position: absolute;
}

.map-element img{
    width: 80%;
}

#clowns{
    right: -10%;
    /* middenste getal : 16px ? */
    top: calc(50vh - 41px - 84px);
}

#tipi{
    right: 0;
    top: calc(150vh - 41px - 96px);
}

#airballoon{
    left: 30%;
    top: calc(220vh - 41px - 98px);
}

#caravan{
    left: 30%;
    top: calc(330vh - 41px - 67.5px);
}

#parasol{
    left: 60%;
    top: calc(420vh - 41px - 65.5px);
}

#tent{
    right: 0;
    top: calc(510vh - 41px - 40.5px);
}

#sign{
    right: 20%;
    top: calc(550vh - 41px - 21px);;
}

@media (min-width: 450px){

}