video {
    object-fit: cover;
}

.localVideo {
	width: 20%;
	position: absolute;
	z-index: 2;
	bottom: 10px;
	left: 10px;
	display: block;
}

.remoteVideo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.remoteVideo video {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0px;
	min-height: 0px;
}

#call-container {
    position: absolute;
}